 .mainContainer {
    display: flex;
    width: 100vw;
    justify-content: space-around;
     height: 70vh;
 }

 .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     gap: 50px;

 }

 .heading {
     font-size: 43px;
     font-weight: 800;
     letter-spacing: 1px;
 }

 .pera {
     font-size: medium;
     color: grey;
 }

 .rightContainer {
     flex: 1;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
 }

 .hr {
     width: max-content;
     color: black;
     background-color: green;
     height: 10px;
     width: 200px;
 }

 .LeftContainer{
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     /* background-color: brown !important; */
 }

  

 .card {
     background-color: green;
 }
 .myImage{
    width: 400px;
    height: 500px;
    object-fit: contain;

 }