.aboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;

} 
.aboutSubheading{
    font-size: 15px;
    color: green;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}
.heading{
    text-align: center;
    font-weight: 600;
    
}