.container{
    margin: auto;
    width: 90%;
    margin-top: 4rem;
   
}

.prodcutItem{
    display: inline-block;
    margin: 3rem;
}

.searchBox{
    display: flex;
    justify-content: flex-end;
    margin-right: 9.5rem;}


.singleProduct{
    display: flex;
    padding: 20px;
}    

.singleProductText{
    padding: 20px;
    margin-top: 3rem;
    margin-left: 20px;
}

.singleProductText p{
    width: 500px;
}